@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0px;
  background-color: #F5F5F5;
  align-items: center;
}
header{
  background-color: #051F36;
  width: 100%;
  height: 80px;
}
button:focus{
  outline: none !important;
}
select:focus{
  outline: none !important;
}
input:focus{
  outline: none !important;
  border: 2px solid rgba(5, 31, 54, 0.7);
}
a{
  text-decoration: none;
}
select{
  padding: 12px 30px 12px 30px;
  background: #F5F5F5;
  border: 2px solid rgba(5, 31, 54, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #051F36;
}
select:focus{
  border: 2px solid rgba(5, 31, 54, 0.7);
}
input{
  background: #F5F5F5;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
  height: 48px;
  border: 2px solid rgba(5, 31, 54, 0.3);
  text-align: left;
}
button{
  padding: 15.5px 32px 15.5px 32px;
  background: #FFA523;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}
.head{
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.number{
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo{
  height: 40px;
}
.phoneNumber{
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #E9F6FF;
  margin: 0px;
  padding-right: 20px;
}
.callTime{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #E9F6FF;
  margin: 0px;
}
.rightH{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.rightH a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #E9F6FF;
}
.favorites{
  padding-right: 20px;
}
.btn{
  background: #FFA523;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 32px 8px 32px;
  text-decoration-color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.simage{
  width: 100%;
  height: 57%;
}
.search{
  position: absolute;
  left: calc(50% - 820px/2);
  top: 34.2%;
}
.search input{
  width: 470px;
}
.btn1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  border: 2px solid #FFA523;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 3;
  align-self: flex-start;
  flex-grow: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
  background-color: #f5f5f5;
}
.content{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 80px;
  width: 88.5%;
  margin: 60px auto 80px;
}
.apartments-content{
  width: 88.5%;
  margin: 60px auto 80px;
}
.apartments a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #051F36;
}
.apartments-content a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #051F36;
}
.panels{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.panel{
  background: #F5F5F5;
  box-shadow: 0px 0px 32px rgba(5, 31, 54, 0.08);
  border-radius: 16px;
  width: 390px;
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #051F36;
  width: 390px;
  text-align: center;
}
.panel img{
  width: 165px;
  height: 165px;
  margin: 20px;
  border-radius: 8px;
}
.cont{
  margin-right: 20px;
}
.cont a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #051F36;
}
.cont p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
}
.login{
  align-items: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.login p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #051F36;
  margin: 0px;
  padding-bottom: 60px;
}
.login input{
  width: 390px;
  height: 48px;
  opacity: 0.3;
  border: 2px solid #051F36;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #F5F5F5;
  text-align: center;
  margin-bottom: 30px;
}
.login ::-webkit-input-placeholder{
  text-align: center;
}
.login input:focus{
  opacity: 0.7;
  outline: none !important;
}
.btn2{
  padding: 16px 64px 16px 64px;
  background: #FFA523;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  margin-bottom: 30px;
}
.socials{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 20px;
}
.socials img{
  margin-left: 24px;
}
.addimg{
  box-shadow: 0px 0px 32px rgba(5, 31, 54, 0.08);
  border-radius: 16px;
}
.content-add{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 88.5%;
  margin: 60px auto 80px;
}
.content-add a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #051F36;
  margin-bottom: 40px;
}
.AL-inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  margin-bottom: 40px;
}
.AL-inputs input{
  width: 390px;
}
.ipt-big{
  height: 205px;
}
