@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0px;
  background-color: #F5F5F5;
}
header{
  background-color: #051F36;
  width: 100%;
  height: 80px;
}
.head{
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number{
  display: flex;
  align-items: center;
}
.logo{
  height: 40px;
}
.phoneNumber{
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #E9F6FF;
  margin: 0px;
  padding-right: 22px;
}
.callTime{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #E9F6FF;
  margin: 0px;
}
.rightH{
    display: flex;
    align-items: center;
}
.favorites{
  padding-right: 22px;
}
.btn{
  background: #FFA523;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 32px 8px 32px;
  text-decoration-color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.simage{
  width: 100%;
}
.content{
  margin: 0px 120px 0px 120px;
}
.apartments{
  margin-bottom: 80px;
}
.apartments a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #051F36;
}
.panels{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.panel{
  background: #F5F5F5;
  box-shadow: 0px 0px 32px rgba(5, 31, 54, 0.08);
  border-radius: 16px;
  width: 390px;
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel img{
  width: 165px;
  height: 165px;
  margin: 20px;
  border-radius: 8px;
}
.cont{
  margin-right: 20px;
}
.cont a{
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #051F36;
}
.cont p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
}
.gray{
  opacity: 0.7;
}
.btn1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  border: 2px solid #FFA523;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 3;
  align-self: flex-start;
  flex-grow: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #051F36;
  background-color: #f5f5f5;
}
